html {
}

.backgroundlogo {
    width: 608px;
    height: 621px;
    background-image: url('data:image/svg+xml;utf8,<svg width="396" height="404" viewBox="0 0 396 404" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M47.3211 321.575L20.5744 262.826L0 346.312L20.5744 403H308.616L328.162 321.575H47.3211Z" fill="white"/> <path d="M91.5561 267.98L66.8668 219.537L79.2115 186.555H278.783L258.209 267.98H91.5561Z" fill="white"/> <path d="M91.5561 137.082L66.8668 75.2404L84.3551 0L111.102 54.6266H394L374.454 137.082H91.5561Z" fill="white"/> <path d="M47.3211 321.575L20.5744 262.826L0 346.312L20.5744 403H308.616L328.162 321.575H47.3211Z" stroke="black" stroke-width="2"/> <path d="M91.5561 267.98L66.8668 219.537L79.2115 186.555H278.783L258.209 267.98H91.5561Z" stroke="black" stroke-width="2"/> <path d="M91.5561 137.082L66.8668 75.2404L84.3551 0L111.102 54.6266H394L374.454 137.082H91.5561Z" stroke="black" stroke-width="2"/> </svg> ');
    background-size: contain;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("E_Vetorizado.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #FE2D2F;
    background-attachment: fixed
}

.logo {
    width: 142px;
    height: 23px;
    background-image:url('data:image/svg+xml;utf8,<svg width="142" height="23" viewBox="0 0 142 23" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M4.5 0L6 3H22L21 8H5L3.5 4.5L4.5 0Z" fill="white"/> <path d="M14.5 15.5H5L4 12.5L4.5 10.5H15.5L14.5 15.5Z" fill="white"/> <path d="M1 15.5L2.5 18H18.5L17.5 23H1.5L0 20L1 15.5Z" fill="white"/> <path d="M25 3L20.5 23H36.5L37.5 18H26.5L30 3H25Z" fill="white"/> <path d="M43 8L44 3H60L59 8H43Z" fill="white"/> <path d="M41 15.5L42 10.5H53.5L52.5 15.5H41Z" fill="white"/> <path d="M39.5 23L40.5 18H56.5L55.5 23H39.5Z" fill="white"/> <path d="M58 23L63 3H67.5L69.7857 9.85714L71.5 3H76L78.2857 9.85714L80 3H84.5L80 23H75L78.125 10.5H74.5L71.5 23H66.5L69.625 10.5H66L63 23H58Z" fill="white"/> <path d="M86.5 8L87.5 3H103.5L102.5 8H86.5Z" fill="white"/> <path d="M84.5 15.5L85.5 10.5H97L96 15.5H84.5Z" fill="white"/> <path d="M83 23L84 18H100L99 23H83Z" fill="white"/> <path d="M101.5 23L106.5 3H112L114.939 15.2449L118 3H123L118 23H113L114.875 15.5H110L109.5 11.5L106.5 23H101.5Z" fill="white"/> <path d="M131.5 23H126.5L129.5 10.5H134.5L131.5 23Z" fill="white"/> <path d="M140.5 8H124.5L126 3H139.5L140.5 0L142 3L140.5 8Z" fill="white"/> </svg> ');
    background-size: contain;
}


/*form style*/

.custombox {
    background-color: ivory;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 4px 4px black;
}

.custominputbox {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: ivory;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 4px 4px black;
}

.custombutton {
    margin: 10px auto 0 auto;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid gray;
    background-color: ivory;
    box-shadow: 4px 4px black;
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
}
.customblankbutton {
    margin: 10px auto 0 auto;
    border-radius: 5px;
    border: 2px solid gray;
    background-color: ivory;
    box-shadow: 4px 4px black;
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
}
.custombuttonatleta {
    margin: 10px auto 0 auto;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid gray;
    background-color: ivory;
    box-shadow: 4px 4px black;
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
}
.custombutton:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}
.form {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: beige;
    --main-color: black;
    padding: 20px;
    background: lightblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.title {
    color: var(--font-color);
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 25px;
}

.title span {
    color: var(--font-color-sub);
    font-weight: 600;
    font-size: 17px;
}

.login-with {
    display: flex;
    gap: 20px;
}

.button-confirm {
    margin: 10px auto 0 auto;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
}

/**/

/*Continue with google*/
.google {
    width: 250px;
    height: 40px;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(65, 63, 63);
    background-color: #fff;
    cursor: pointer;
    transition: all .6s ease;
    box-shadow: 4px 4px black;
}

.google svg {
    height: 24px;
}

google:hover {
    transform: scale(1.02);
}
/**/

/*card exercicos*/
.repreg {
    align-content: center;
    border-left: solid 1px;
    font-size: 12px
}
/**/